@{
    ViewBag.Title = ViewBag.PostEntity.Title;
    var post = ViewBag.PostEntity as HarrisZhang.Repository.Entity.PostEntity;
}

@section scripts{
    <script>
        $(function () {
            var postSharer = new Headroom(document.getElementById("post-bottom-bar"), {
                tolerance: 0,
                offset: 70,
                classes: {
                    initial: "animated",
                    pinned: "pinned",
                    unpinned: "unpinned"
                }
            });
            postSharer.init();
        })
    </script>
}

<!--div class="post-header-thumb bg-deepgrey" style="background-image: url('/images/thumbs/1.jpg');"-->
<div class="post-header-thumb bg-deepgrey">
    <div class="post-header-thumb-op" style="background-image: url('/post-images/1.jpg');"></div>
    <div class="post-header-thumb-cover">
        <div class="post-header-thumb-container">
            <div class="post-header-thumb-title">@post.Title</div>
            <div class="post-header-thumb-meta">
                <time datetime="2018" itemprop="datePublished">Published on @post.PublishTime</time> in Category with <a href="#comments">comments</a>
            </div>
            <div class="post-tags">
                tags
            </div>
        </div>
    </div>
</div>

<article class="main-content post-page">
    <div id="post-content" class="post-content" itemprop="articleBody">

        @(new MvcHtmlString(post.HtmlBody))

        @*<p class="post-tags">
                <a href="https://monsterlin.com/tag/life/">life</a> <a href="https://monsterlin.com/tag/emotion/">emotion</a>
            </p>

            <p class="post-info">
                本文由 <a href="https://monsterlin.com/author/1/">monsterlin</a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>
                本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>
                最后编辑时间为: Feb 6, 2018 at 02:38 pm
            </p>*@
    </div>

</article>

<div id="post-bottom-bar" class="post-bottom-bar">
    <div class="bottom-bar-inner">
        <div class="bottom-bar-items social-share left">
            <span class="bottom-bar-item">Share : </span>
            <span class="bottom-bar-item bottom-bar-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=#" target="_blank" title="titlte" rel="nofollow">facebook</a></span>
            <span class="bottom-bar-item bottom-bar-twitter"><a href="https://twitter.com/intent/tweet?url=permanlink&text=thistitle" target="_blank" title="thistitle" rel="nofollow">Twitter</a></span>
            <span class="bottom-bar-item bottom-bar-weibo"><a href="http://service.weibo.com/share/share.php?url=thisurl&amp;title=thistitle" target="_blank" title="thistitle" rel="nofollow">Weibo</a></span>
            <span class="bottom-bar-item bottom-bar-qrcode"><a href="//pan.baidu.com/share/qrcode?w=300&amp;h=300&amp;url=thisurl" target="_blank" rel="nofollow">QRcode</a></span>
        </div>
        <div class="bottom-bar-items right">
            <span class="bottom-bar-item">theNext</span>
            <span class="bottom-bar-item">thePre</span>
            <span class="bottom-bar-item"><a href="#footer">↓</a></span>
            <span class="bottom-bar-item"><a href="#">↑</a></span>
        </div>
    </div>
</div>

@*<div class="related-post-lists">
        <div class="post-lists">
            <div class="post-lists-body">

                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title"><a href="#">title</a></div>
                            <div class="item-meta">

                                <div class="item-meta-ico bg-ico-book" style="background: url('images/bg-ico.png') no-repeat; background-size: 40px auto;"></div>

                                <div class="item-meta-cat">Category</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@