<div class="main-content common-page">
    <div class="common-item">
        <div class="common-title">Category</div>
        <div class="post-lists">
            <div class="post-lists-body">

                <div class="post-list-item">
                    <!-- bg-green bg-red bg-yellow bg-purple bg-harris -->
                    <div class="post-list-item-container bg-blue">
                        <!--bg-green bg-red bg-yellow bg-blue bg-purple bg-harris-->
                        <div class="item-label bg-blue">
                            <div class="item-title"><a href="#">title</a></div>
                            <div class="item-meta">

                                <div class="item-meta-ico bg-ico-book" style="background: url('/images/bg-ico.png') no-repeat; background-size: 40px auto;"></div>

                                <div class="item-meta-date">yyyy-MM-dd </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @HarrisZhang.Controls.PadingControl.Paging(4, 20, 5)
</div>