@{
    ViewBag.Title = "Home Page";
}

<!--class="oneList"-->
<div class="main-content index-page clearfix">
    <div class="post-lists">
        <div class="post-lists-body">

            @if (true)
            {
               @(Html.Partial("_PostItem"))
            }
            else
            {
               @(Html.Partial("_PostOneItem"))
            }
        </div>
    </div>

    @HarrisZhang.Controls.PadingControl.Paging(3, 20, 5)

    @*<div class="lists-navigator">
            <a href="https://www.linpx.com/page/1/">1</a>
            <a href="https://www.linpx.com/page/2/">2</a>
            <a href="https://www.linpx.com/page/3/" class="current">3</a>
            <a href="https://www.linpx.com/page/4/">4</a>
            <a href="https://www.linpx.com/page/5/">5</a>
            <span>...</span>
            <a href="https://www.linpx.com/page/7/">7</a>
        </div>*@
</div>
