@section styles{
    <link href="http://static.savory.cn/codemirror/5.19.0/lib/codemirror.css" rel="stylesheet" />
    <style type="text/css">
        .CodeMirror {
            height: 400px;
        }
    </style>
}
@section scripts{
    <script src="http://static.savory.cn/codemirror/5.19.0/lib/codemirror.js"></script>
    <script src="http://static.savory.cn/codemirror/5.19.0/addon/selection/active-line.js"></script>
    <script src="http://static.savory.cn/codemirror/5.19.0/addon/mode/overlay.js"></script>
    <script src="http://static.savory.cn/codemirror/5.19.0/mode/markdown/markdown.js"></script>
    <script src="http://static.savory.cn/codemirror/5.19.0/mode/gfm/gfm.js"></script>
    <script src="http://static.savory.cn/angular-ui-codemirror/0.3.0/ui-codemirror.js"></script>

    <script src="http://static.savory.cn/marked/0.3.17/marked.min.js"></script>

    <script src="~/scripts/harrisblog.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        window.version=@DateTime.Now.ToString("yyyyMMddHHmmss");
    </script>
}
<div ng-app="app">


    <div ui-view="header"></div>

    <div class="sidebar-app sidebar-expanded" ui-view="menu"></div>

    <div class="wrapper wrapper-expanded" ui-view="main-body"></div>

</div>