<div class="wrapper-title">
    <ol class="breadcrumb">
        <li><a ui-sref="app.welcome">首页</a></li>
        <li class="active">文章</li>
    </ol>
</div>

<div class="wrapper-toolbar">
    <a class="btn btn-success" ui-sref="app.post.post-new">新建</a>
</div>

<ul class="wrapper-content ui-list">
    <li class="ui-list-item" ng-repeat="post in posts">
        <div class="checkbox checkbox-inline icheck-success post-title">
            <input type="checkbox" id="host_{{post.ename}}" ng-model="host.selected">
            <label for="host_{{post.ename}}" class="ng-binding">{{post.title}}</label>
        </div>
        <a ui-sref="app.post.post-edit({id:post.id})" class="post-toolbar-item">编辑</a>
        <a ng-click="deleteById(post.id)">删除</a>
        <span class="post-toolbar-item">{{post.lastUpdateTime}}</span>
    </li>
</ul>

<div>
    <div class="col-sm-12">
        <ul uib-pagination total-items="totalCount" ng-model="currentPage" ng-change="pageChanged()" items-per-page="pageSize" max-size="maxSize" class="pagination" previous-text="上一页" next-text="下一页" boundary-link-numbers="true"></ul>
    </div>
</div>
