.wrapper {
    margin-top: @navbar-app-height;
}

.wrapper-expanded {
    margin-left: @sidebar-applications-width-expanded;
}

.wrapper-collapsed {
    margin-left: @sidebar-applications-width-collapsed;
}
