
@{
    ViewBag.Title = "Index";
}

<div class="main-content talks-page">
    @for (int i = 0; i < 10; i++)
    {
        <div class="talk-item">
            <div class="talk-time">2018/3/25</div>
            <div class="talk-content">
                <p>看见有好友祈福高考的时候，我正在吃着早餐。看了一眼日历，6月6日，明天高考。脑中没有想到其他什么关于高考的事。今天天气不错。窗台的栀子花渐渐有花骨朵了。</p>
            </div>
        </div>
    }
</div>

