@{
    ViewBag.Title = "说说";
    List<HarrisZhang.Repository.Entity.TalksEntity> entityList = ViewBag.TalksList as List<HarrisZhang.Repository.Entity.TalksEntity>;
}

<div class="main-content talks-page">

    @if (entityList != null)
    {
        <div class="talk-item-list">
            @foreach (var item in entityList)
            {
                <div class="talk-item">
                    <div class="talk-content">
                        <p>@item.Content</p>
                        <div class="talk-time">
                            <p>@item.PublishTime.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @HarrisZhang.Controls.PadingControl.Paging(ViewBag.PageIndex, ViewBag.PageCount, 5, "/talks/{0}")
</div>
