@{
    ViewBag.Title = "说说";
    List<HarrisZhang.Repository.Entity.TalksEntity> entityList = ViewBag.TalksList as List<HarrisZhang.Repository.Entity.TalksEntity>;
}

<div class="main-content talks-page">

    <div class="talk-lists">
        @if (entityList != null)
            {
                foreach (var item in entityList)
                {
                <div class="talk-item">
                    <div class="talk-time">
                        <p>@item.PublishTime.ToShortDateString()</p>
                    </div>
                    <div class="talk-content">
                        <p>@item.Content</p>
                    </div>
                </div>
            }
        }
    </div>

    @HarrisZhang.Controls.PadingControl.Paging(ViewBag.PageIndex, ViewBag.PageCount, 5, "/talks/{0}")
</div>
