<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HarrisBlog.Repository.Properties.Settings.HarrisBlogConnectionString"
            connectionString="Data Source=BLUEWIND\BLUESERVER;Initial Catalog=HarrisBlog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>